<div class="columns is-mobile">
  <div class="column is-5 is-offset-3 has-text-centered">
<div class="box">
  <div class="container">
    <h1 class="is-size-3 pb-2">
      Browse News Articles from all Around the Web!
    </h1>
    <div class="field has-addons">
      <div class="control is-expanded">
    <form action="" class="search-bar">
	    <input class="input" type="search" id="news-search" name="title" pattern=".*\S.*" placeholder="e.g. Gaming">
      </div>
      <div class="control">
	    <button class="button is-primary search-btn" id="news-search-btn" type="submit">
		  <span>Search</span>
	    </button>
      </div>
    </form>
      
      </div>
  </div>
</div>
</div>
</div>

<div class="py-5">
  <div class="container">
      {{#each articles as |article|}}
      <div class="card-custom">
        
        <div class="card.columns">
        <div class="card-deck" id="news-grid">
          
          <div class="card p-3 mb-5 rounded" style="width: 18rem;">
            <img class="card-img-top" src="{{article.urlToImage}}">
            <div class="card-body">
              <h5 class="card-title"><a href="{{article.url}}" target="_blank">{{article.title}}</a></h5>
              <p class="card-text"><span>{{article.description}}</span></p>
              
            </div>
            <footer class="card-footer" style="width: 15%;">
              <button class="save-cat-btn card-footer-item" id="save-cat-btn" type="button" data-name="{{article.title}}" src="./assets/images/icons8-save-24.png">
                <i class="fa fa-save" style="font-size:24px"></i>
              </button>
            </footer>
          </div>
          
        </div>
        </div>
      </div>
      
      {{/each}}
  </div>
  </div>
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" id="categories">
            
    </div>
</div>

<script src="/public/js/saveToCategory.js"></script>

